<!-- templates/components/signup_form.html.twig -->
<div class="form-container1 sign-up-container1">
    <form action="" method="POST">
        <h1>Create Account</h1>
        <input type="text" name="first_name" placeholder="First Name" required />
        <input type="text" name="last_name" placeholder="Last Name" required />
        <input type="text" name="phone" placeholder="Phone Number" required />
        <input type="date" name="dob" placeholder="Date of Birth" required />
        <input type="email" name="email" placeholder="Email" required />
        <input type="password" name="password" placeholder="Password" required />
        <button type="submit">Sign Up</button>
    </form>
</div>
<!-- templates/components/login_form.html.twig -->
<div class="form-container1 sign-in-container1">
    <form action="" method="POST">
        <h1>Sign In</h1>
        <input type="email" name="email" placeholder="Email" required />
        <input type="password" name="password" placeholder="Password" required />
        <a href="#" class="forgot">Forgot your password?</a>
        <button type="submit">Sign In</button>
    </form>
</div>
